<app-navbar> </app-navbar>

<div class="container">
  <div class="impression">
    <div class="message">
      <h1 style="font-size: 40px;"><br>Great Coffee <br>madesimple</h1>
      <p style="font-size: 20px;">Start your mornings with the worlds best coffees.Try our <br>expertly artisan coffees
        from our best roasters<br> delivered directly to your door, at your schedule.
      </p>

      <div class="buttons">

        <button>Create your plan</button>
      </div>

    </div>
  </div>

  <div class="collections">
    <div class="ourCollection">
      <h1 style="color: rgb(185, 180, 180);font-size: 100px;">our collections</h1>
    </div>
    <div class="images">
      <div class="allImages">
        <img src="../../assets/coffee bag.jpg" alt="">
        <h1 style="color: black;font-weight: bold;">Gran Espresso</h1>
        <p>Light and flavorful brand with cocoa<br> and black pepper for an intense<br> experience</p>
      </div>

      <div class="allImages">
        <img src="../../assets/coffee bag.jpg" alt="">
        <h1 style="color: black;font-weight: bold;">Planalto</h1>
        <p>Light and flavorful brand with cocoa<br> and black pepper for an intense<br> experience</p>
      </div>

      <div class="allImages">
        <img src="../../assets/coffee bag.jpg" alt="">
        <h1 style="color: black;font-weight: bold;">Piccollo</h1>
        <p >Light and flavorful brand with cocoa<br> and black pepper for an intense<br> experience</p>
      </div>

      <div class="allImages">
        <img src="../../assets/coffee bag.jpg" alt="">
        <h1 style="color: black;font-weight: bold;">Danche</h1>
        <p>Light and flavorful brand with cocoa<br> and black pepper for an intense<br> experience</p>
      </div>

    </div>
  </div>

  <div class="choose">
    <h1 style="font-size: 50px; color: white; font-weight: bold; margin: 20px;">Why choose us?</h1>
    <p style="line-height: 30px;color: white;">A large part of our role is choosing which particular coffee will be featured <br>in our range.
      This means working closely with the best coffee growers to give <br> yourmore imapctful experience on every level.
    </p>
  </div>

  <app-footer></app-footer>

</div>
