@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.navContainer{
  /* border: solid red 2px; */
  display: flex;
  padding: 0px 15px;
  justify-content: center;

}


.navbar{
  height: 80px;
  /* border: solid red 2px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding:0px 20px;
}

.navigation a{
  margin: 0px 15px;
  text-decoration: none;
  color: grey;
  font-size: 20px;

}


